<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aftercoffee.org.nonsmoking365" >

    <uses-sdk
        android:maxSdkVersion="21"
        android:minSdkVersion="9" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity"
            android:theme="@style/FullScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PreviewActivity" >
        </activity>
        <activity android:name=".basisinfo.BasisInfoActivity" >
        </activity>
        <activity android:name=".main.MainActivity" >
        </activity>
        <activity android:name=".Centers.CentersActivity" >
        </activity>
        <activity android:name=".board.BoardActivity" >
        </activity>
        <activity android:name=".login.LoginActivity" >
        </activity>
        <activity android:name=".Notice.NoticeActivity" >
        </activity>
        <activity android:name=".AlarmActivity" >
        </activity>
        <activity android:name=".Question.QuestionActivity" >
        </activity>
        <activity android:name=".WithdrawActivity" >
        </activity>
        <activity android:name=".VersionInfoActivity" >
        </activity>
        <activity android:name=".AccessTermsActivity" >
        </activity>
        <activity
            android:name=".Community.CommunityActivity"
            android:label="@string/title_activity_community"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".ServiceInfoActivity" >
        </activity>
        <activity android:name=".CountResultActivity" >
        </activity>
    </application>

</manifest>
