<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aftercoffee.org.nonsmoking365" >

    <uses-sdk
        android:maxSdkVersion="21"
        android:minSdkVersion="9" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- START GCM permission -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- END GCM permission -->

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activity.SplashActivity"
            android:theme="@style/FullScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.PreviewActivity" >
        </activity>
        <activity android:name=".Activity.BasisInfoActivity" >
        </activity>
        <activity android:name=".Activity.main.MainActivity" >
        </activity>
        <activity android:name=".Activity.centers.CentersActivity" >
        </activity>
        <activity android:name=".Activity.board.BoardActivity" >
        </activity>
        <activity android:name=".Activity.login.LoginActivity" >
        </activity>
        <activity android:name=".Activity.notice.NoticeActivity" >
        </activity>
        <activity android:name=".Activity.AlarmActivity" >
        </activity>
        <activity android:name=".Activity.question.QuestionActivity" >
        </activity>
        <activity android:name=".Activity.WithdrawActivity" >
        </activity>
        <activity android:name=".Activity.VersionInfoActivity" >
        </activity>
        <activity android:name=".Activity.AccessTermsActivity" >
        </activity>
        <activity
            android:name=".Activity.community.CommunityActivity"
            android:label="@string/title_activity_community"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".Activity.ServiceInfoActivity" >
        </activity>
        <activity android:name=".Activity.CountResultActivity" >
        </activity>

        <!-- [START gcm_receiver] -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="net.saltfactory.demo.gcm" />
            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->

        <!-- [START gcm_listener_service] -->
        <service
            android:name=".MyGcmListenerService"
            android:exported="false" >
        </service>
        <!-- [END gcm_listener_service] -->

        <!-- [START instanceId_listener_service] -->
        <service
            android:name=".MyInstanceIDListenerService"
            android:exported="false" >
        </service>
        <!-- [END instanceId_listener_service] -->

        <!-- [START gcm_registration_service] -->
        <service
            android:name=".RegistrationIntentService"
            android:exported="false" >
        </service>
        <!-- [END gcm_registration_service] -->
    </application>

</manifest>
