<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aftercoffee.org.nonsmoking365" >

    <uses-sdk
        android:maxSdkVersion="21"
        android:minSdkVersion="9" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- START GCM permission -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <permission android:name="aftercoffee.org.nonsmoking365.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="aftercoffee.org.nonsmoking365.permission.C2D_MESSAGE" />
    <!-- END GCM permission -->

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".tt.activity.SplashActivity"
            android:theme="@style/FullScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".tt.activity.PreviewActivity" >
        </activity>
        <activity android:name=".tt.activity.BasisInfoActivity" >
        </activity>
        <activity android:name=".tt.activity.main.MainActivity" >
        </activity>
        <activity android:name=".tt.activity.centers.CentersActivity" >
        </activity>
        <activity android:name=".tt.activity.board.BoardActivity" >
        </activity>
        <activity android:name=".tt.activity.login.LoginActivity" >
        </activity>
        <activity android:name=".tt.activity.notice.NoticeActivity" >
        </activity>
        <activity android:name=".tt.activity.AlarmActivity" >
        </activity>
        <activity android:name=".tt.activity.question.QuestionActivity" >
        </activity>
        <activity android:name=".tt.activity.WithdrawActivity" >
        </activity>
        <activity android:name=".tt.activity.VersionInfoActivity" >
        </activity>
        <activity android:name=".tt.activity.AccessTermsActivity" >
        </activity>
        <activity
            android:name=".tt.activity.community.CommunityActivity"
            android:label="@string/title_activity_community"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".tt.activity.ServiceInfoActivity" >
        </activity>
        <activity android:name=".tt.activity.CountResultActivity" >
        </activity>

        <!-- [START gcm_receiver] -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="aftercoffee.org.nonsmoking365" />
            </intent-filter>
        </receiver>
        <service
            android:name=".tt.service.MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".tt.service.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <service
            android:name=".tt.service.RegistrationIntentService"
            android:exported="false">
        </service>
    </application>

</manifest>
